/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif bottom;
}


.maincontainer {
    background-color: #000000;
    color: #FFFFFF;
    width: 480px;
    height: 640px;
    margin-left: auto;
    margin-right: auto;
}
.panel-hidden, .panel-visible {
    display: none;
}
.panel-visible {
    display: block;
}